<%= "<h1>#{@identifier}</h1>" %>

<ul>
  <li><a href="/most_requested">Most requested URLS</a></li>
  <li><a href="/web_browser_breakdown">Web browser breakdown</a></li>
  <li><a href="/os_breakdown">OS breakdown across all requests</a></li>
  <li><a href="/screen_resolution">Screen Resolution across all requests</a></li>
  <li><a href="/url_response_time">Longest, average response time per URL to shortest, average response time per URL</a></li>
  <li><a href="/url_specific_data">Hyperlinks of each url to view url specific data</a></li>
  <li><a href="/event_data">Hyperlink to view aggregate event data</a></li>
</ul>
